@import "tailwindcss";

body{
background:white;
color:#111;
}

.container{

max-width:1200px;

margin:auto;

padding:20px;

}

@font-face{

font-family:'BrandFont';

src:url('/fonts/NasalizationRg.otf') format('opentype');

font-weight:normal;

font-style:normal;

}

.brand-font{

font-family:'BrandFont', sans-serif;

}